#categoryCarousel .carousel-item {
  display: none;
}

#categoryCarousel .carousel-item.active,
#categoryCarousel .carousel-item-next,
#categoryCarousel .carousel-item-prev {
  display: flex;
}

#categoryCarousel .carousel-item-end,
#categoryCarousel .carousel-item-start {
  transform: translateX(0);
}
