.admin-sidebar {
  min-height: 100%;
}

.admin-sidebar .nav-link {
  color: #f8f9fa;
}

.admin-sidebar .nav-link.active {
  font-weight: 600;
  background-color: var(--bs-warning);
  color: #111827;
}
